header {
  margin-bottom: 10px;

  min-height: 130px;
  background-image: url(FST.jpg);
  background-size: cover;
}
header h1 {
  float: right;
  color: red;
  font-style: italic;
}
header p {
  float: right;
  font-style: italic;
}
ul {
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(72, 191, 191);
  height: 30px;
}

ul div {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

ul li {
  display: inline;
  margin-left: 5%;
  border: 1px solid black;
  border-radius: 4px;
  background-color: black;
}
ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
ul li :hover {
  background-color: red;
  transition: 0.5s;
  border-radius: 4px;
  font-size: 25px;
}
#les_sections {
  margin-top: 3%;
}
section {
  background-color: gray;
  border-radius: 30px;
}
table {
  border: 1px solid black;
  width: 15%;
  border-collapse: collapse;
  margin: 0 auto;
}
td {
  border: 1px solid black;
}
th {
  border: 1px solid black;
}
.c {
  width: 50%;
  margin: 1% auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1% 2%;
}
.c h3 {
  text-align: center;
  color: blue;
}
span {
  color: red;
}
section h1 {
  text-align: center;
}
