/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333; /* Texte en noir */
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff; /* Bleu */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    color: #0000ff; /* Bleu */
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff; /* Bleu */
    color: #fff; /* Texte en blanc */
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

p {
    text-align: center;
    margin-top: 10px;
    color: #000; /* Noir */
}

a {

    color: #007bff; /* Texte en blanc */
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
}

a:hover {
    text-decoration: underline;
}
